<div class="content" role="main">
    <h1>Athletes Statistic</h1>

    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Temperature</th>
                <th>Fastest Speed</th>
                <th>Avg. Speed</th>
                <th>Fastest Acceleration</th>
                <th>Avg. Acceleration</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let athlete of athletes; index as i">
                <tr>
                    <td>{{i + 1}}</td>
                    <td class="active_cell">{{athlete.full_name}}</td>
                    <td>{{athlete.age}}</td>
                    <td>{{athlete.height}}</td>
                    <td>{{athlete.weight}}</td>
                    <td>{{athlete.temperature}}</td>
                    <td>{{athlete.fastest_speed}}</td>
                    <td>{{athlete.avg_speed}}</td>
                    <td>{{athlete.fastest_acceleration}}</td>
                    <td>{{athlete.avg_acceleration}}</td>
                </tr> 
            </ng-container>          
        </tbody>
    </table>
</div>
