<!-- Toolbar -->
<div class="toolbar" role="banner">
    <span>{{title}}</span>
    <div class="spacer"></div>
    <button (click)="openSettings()">Settings</button>
</div>
<div class="content" role="main">
    <h1>Athletes Statistic</h1>

    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age ({{display[0].UnitSymbol}})</th>
                <th>Height ({{display[1].UnitSymbol}})</th>
                <th>Weight ({{display[2].UnitSymbol}})</th>
                <th>Temperature ({{display[3].UnitSymbol}})</th>
                <th>Fastest Speed ({{display[4].UnitSymbol}})</th>
                <th>Avg. Speed ({{display[4].UnitSymbol}})</th>
                <th>Fastest Acceleration ({{display[5].UnitSymbol}})</th>
                <th>Avg. Acceleration ({{display[5].UnitSymbol}})</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let athlete of athletes; index as i">
                <tr>
                    <td>{{i + 1}}</td>
                    <td class="active_cell">{{athlete.full_name}}</td>
                    <td>{{athlete.age}}</td>
                    <td>{{athlete.height}}</td>
                    <td>{{athlete.weight}}</td>
                    <td>{{athlete.temperature}}</td>
                    <td>{{athlete.fastest_speed}}</td>
                    <td>{{athlete.avg_speed}}</td>
                    <td>{{athlete.fastest_acceleration}}</td>
                    <td>{{athlete.avg_acceleration}}</td>
                </tr> 
            </ng-container>          
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>