<!-- Toolbar -->
<div class="toolbar" role="banner">
    <span>External Application</span>
    <div class="spacer"></div>
    <button mat-icon-button (click)="openSettings()" onclick="this.blur()">
        <mat-icon>settings</mat-icon>
    </button>
</div>
<div class="content" role="main">
    <h1>Athletes Statistic</h1>

    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age ({{setting.mappers[0].DisplayUnit.DisplaySymbol}})</th>
                <th>Height ({{setting.mappers[1].DisplayUnit.DisplaySymbol}})</th>
                <th>Weight ({{setting.mappers[2].DisplayUnit.DisplaySymbol}})</th>
                <th>Temperature ({{setting.mappers[3].DisplayUnit.DisplaySymbol}})</th>
                <th>Fastest Speed ({{setting.mappers[4].DisplayUnit.DisplaySymbol}})</th>
                <th>Avg. Speed ({{setting.mappers[4].DisplayUnit.DisplaySymbol}})</th>
                <th>Fastest Acceleration ({{setting.mappers[5].DisplayUnit.DisplaySymbol}})</th>
                <th>Avg. Acceleration ({{setting.mappers[5].DisplayUnit.DisplaySymbol}})</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let athlete of displayAthletes; index as i">
                <tr>
                    <td>{{i + 1}}</td>
                    <td class="active_cell">{{athlete.full_name}}</td>
                    <td>{{athlete.age}}</td>
                    <td>{{athlete.height}}</td>
                    <td>{{athlete.weight}}</td>
                    <td>{{athlete.temperature}}</td>
                    <td>{{athlete.fastest_speed}}</td>
                    <td>{{athlete.avg_speed}}</td>
                    <td>{{athlete.fastest_acceleration}}</td>
                    <td>{{athlete.avg_acceleration}}</td>
                </tr> 
            </ng-container>          
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>