h1 {
    text-align: center;
    color: #009879;
    margin-top: -8px;
    margin-bottom: 0px;
}
.container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 600px;
    .styled-table {
        margin: auto;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 300px;
        font-weight: bold;
        tbody {
            tr {
                padding: 0px 15px;
                &:last-of-type {
                    border-bottom: 2px solid #009879;
                }
                .active_cell {
                    font-weight: bold;
                    color: #009879;
                }
                td {
                    padding: 0px 15px;
                    min-width: 80px;
                    &:last-child {
                        padding: 5px 0px;
                    }
                    select {
                        border-color: #009879;
                        outline: none;
                        width: 240px;
                        min-height: 32px;
                        padding: 5px 10px;
                    }
                    input {
                        border: 1px solid #009879;
                        outline: none;
                        max-height: 32px;
                        max-width: 75px;
                        padding: 5px 15px;
                    }
                }
            }
        }
    }
}
button {
    padding: 5px 20px;
    text-decoration: none;
    margin: 10px;
    float: right;
    margin-right: 30px;
    height: 40px;
    font-weight: bold;
    background-color: #00a383;
    border-radius: 4px;
    color: #fff;
    border: none;
    &:visited,
    &:link {
        color: #fff;
    }
    &:hover {
        color: #fff;
        background-color: #009879;
    }
    &.active {
        color: #fff;
    }
}
