<h1>Unit Settings</h1>

<table class="styled-table">
    <tbody>
        <tr>
            <td class="active_cell">Language</td>
            <td>
                <select (change)="onLanguageChange($event)">
                    <option [selected]="settings.displayLanguage === 'Default'">Default</option>
                    <option [selected]="settings.displayLanguage === 'German'">German</option>
                </select>
            </td>
        </tr>
        <ng-container *ngFor="let mapper of settings.mappers; let i = index">
            <ng-container *ngIf="mapper">
                <tr>
                    <td class="active_cell">{{mapper.UnitGroup.DisplayName}}</td>
                    <td>
                        <select (change)="onSelectChange($event, i)">
                            <option *ngFor="let unit of mapper.UnitGroup.Units" 
                                [value]="unit.Name"
                                [selected]="unit.Name === mapper.DisplayUnit.Name">
                                {{unit.DisplayName}} ({{unit.DisplaySymbol}})
                            </option>
                        </select>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>
<button (click) = "close()">Close</button>
